.card-symptoms {
    height: 152px;
    width:544px;
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 10px;
    gap: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-tests {
   height: 152px;
    width:544px;
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 10px;
    gap: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .card-doctors{
    height: 152px;
    width:544px;
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 10px;
    gap: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin-bottom: 50px;
    width: 288px;
    height: 28px;
  }
  
  .card div {
    display: flex;
    justify-content: space-between;
  }
  .content{
    Width:608px;
    Height:656px;
    Top:811px;
    Left:311px;
    border-radius:8px;
    /* Padding:32px; */
    Gap:32px;
    /* margin-top: 60px; */
    /* margin-left: 40px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container-location{
    height: 162px;
    width:544px;
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 10px;
    gap: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
   .container2{
    Width:608px;
    Height:250px;
    Top:1499px;
    Left:311px;
    border-radius:8px;
    Padding:32px;
    Gap:32px;
    margin-top: 10px;
    margin-left: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.image{
  margin-top: -155px;
  flex-direction: column;
  margin-left: 320px;
  
}
.card-location h3 {
  margin-bottom: 50px;
  width: 288px;
  height: 28px;
  font-weight: 500;
  
}