.appointmentReport {
    /* background-color: #FF692E; */
    position: absolute;
    width: 422px;
    height: 195px;
    top: 141px;
    left: 311px;
  }
   
  .appointmentDetails {
    width : 293px;
    height : 70px;
    gap : 8px;
  }
   
  #ID {
    width : 172px;
    height: 38px;
    gap:4px;
  }
   
  #appointmentDate {
    width:169px;
    height: 24px;
    gap:8px;
    position: relative;
    top : 7px;
  }
   
  .doctorName {
    width: 156px;
    height: 20px;
  }
   
  #appointmentTime {
    width: 104px;
    height: 24px;
    gap:8px;
    position: relative;
    top : 8px;
  }
   
   
  .backToAppointment {
    width : 1120px;
    top : 105px;
    left :308px;
    height : 20px;
    position: absolute;
  }
   
  .reportId {
    width : 172px;
    height : 38px;
    position: absolute;
  }
   
  #text {
    position: relative;
    top : -1px;
  }
   
  #ID {
    font-size: x-large;
    top : 25px;
    width : 172px;
    height:38px;
    gap:4px;
  }
   
  #appointmentDateAndTime {
    width:293px;
    height:70px;
    gap:8px;
  }
   
  .petIssues {
    width: 250px;
    height: 28px;
    gap:10px;
  }
   
   
  .reasonsToVisit {
    width: 422px;
    height: 29px;
    gap:18px;
  }
   
  .buttons {
    width : 170.15px;
    height: 47.38px;
    top :110px !important;
    left : 1000px !important;
    /* padding: 8px, 16px, 16px, 16px; */
    gap:32px;
    position: relative;
  }
   
  .editButtons {
    width:420px;
    height: 40px;
    top:110px;
    left:1100px !important;
    /* gap:694px; */
    position: relative;
  }
   
  #cancel {
    border-radius: 5px;
    position: relative;
    margin-left: 25px;
    border-width: 0.02px;
    background-color: white;
  }
   
  #edit {
    border-radius: 5px;
    position: relative;
    margin-left: 15px;
    border-width: 0.02px;
    background-color: white;
  }
   
  #close {
    position: relative;
    border-radius: 5px;
    margin-left: 35px;
    background-color: #FF692E;
    color: white;
    border-width: 0.02px;
    padding: 4px;
  }