
<div id="spacing">
    <div class="container">
      <div class="card table" id="patientcard">
        <div class="row" id="dcolumn">
          <div class="column" id="patient">
            <div class="row" id="profilephoto">
              <div class="column"  id="photo"> 
                <img src="/assets/images/pet.jpg" alt="Pet Profile Photo">
              </div>
              <div class="column" id="details">
                <p class="small-text">Patient</p>
                <p class="bold-text">Doggo</p>
                <p class="small-text">Dog, Afgan Hound</p>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <p class="grey-text g-8"><span style="color: gray; font-weight:400;">Gender:</span> Male(Neutered)</p>
                <p class="grey-text g-8"><span style="color: gray; font-weight:400;">Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> 2.2 years</p> 
              </div>
            </div>
          </div>
          <div class="column" id="owner">
            <div class="row" id="profilephoto">
              <div class="column" id="photo">
                <img style="background-color:#D1DFC3" src="/assets/images/petParent.png" alt="Pet Owner Photo">
              </div>
              <div class="column" id="details">
                <p class="small-text">Pet Owner</p>
                <p class="bold-text">Jack Hall</p>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <p class="g-16"><i class="fa-regular fa-envelope"></i>jhonedoegmail.com</p>
                <p class="g-16"><i class="fa-solid fa-phone"></i>+44 55678909876</p>
                <p class="g-16"><i class="fa-solid fa-house"></i>Bangalore, Karnataka, 560089</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card table" id="doctor">
        <div class="profile row" id="profilephoto">
          <div class="profile-photo column" id="photo">
            <img src="/assets/images/vet.jpg" alt="Vet Profile Photo">
          </div>
          <div class="column" id="details">
            <p class="small-text">Doctor</p>
            <p class="bold-text">Dr. Jhon</p>
            <p class="small-text">Navle</p>
          </div>
        </div>
        <div class="row" id="doctordetails">
          <div class="column" id="details-left">
            <p class="grey-text"><span style="color: gray; font-weight:400;">NPI No:</span> 567890</p>
            <p class="grey-text"><span style="color: gray; font-weight:400;">Clinic&nbsp;&nbsp;:</span> St. Johns Clinic</p>
          </div>
          <div class="column" id="details-right">
            <p class="email-icon"><i class="fa-regular fa-envelope"></i>jhongmail.com</p>
            <p class="phone-icon"><i class="fa-solid fa-phone"></i>+44 5556789</p>
          </div>
        </div>
      </div>
    </div>
    </div>